packages:
  yum:
    ImageMagick: []
    ImageMagick-devel: []
commands:
  01-wget:
    command: "wget -O /tmp/ffmpeg.tar.gz http://ffmpeg.org/releases/ffmpeg-4.1.tar.gz"
  02-mkdir:
    command: "if [ ! -d /opt/ffmpeg ] ; then mkdir -p /opt/ffmpeg; fi"
  03-tar:
    command: "tar xvf /tmp/ffmpeg.tar.gz -C /opt/ffmpeg"
  04-configure:
    command: "cd /opt/ffmpeg/ffmpeg-4.1 && ./configure --disable-x86asm"
  05-make:
    command: "cd /opt/ffmpeg/ffmpeg-4.1 && make"
  06-ln-ffmpeg:
    command: "if [[ ! -f /usr/bin/ffmpeg ]] ; then ln -sf /opt/ffmpeg/ffmpeg-4.1/ffmpeg /usr/bin/ffmpeg; fi"
  07-ln-ffprobe:
    command: "if [[ ! -f /usr/bin/ffprobe ]] ; then ln -sf /opt/ffmpeg/ffmpeg-4.1/ffprobe /usr/bin/ffprobe; fi"
  08-pecl:
    command: "if [ `pecl list | grep imagick` ] ; then pecl install -f imagick; fi"
