packages:
  yum:
    gcc-c++: []
    gcc: []
    python3-devel: []
    python3-pip: []
    python3: []
    atlas-devel: []
    libsndfile-devel: []
    libstdc++-devel: []
    sox: []
    sox-devel: []

commands:
  01_upgrade_pip:
    command: "/usr/bin/pip3 install --upgrade pip >& /var/log/pip_upgrade.log"
  02_install_numpy:
    command: "/usr/bin/pip3 install numpy"
  03_install_scipy:
    command: "/usr/bin/pip3 install scipy"
  04_install_librosa:
    command: "/usr/bin/pip3 install librosa >& /var/log/librosa_install.log"

container_commands:
  01_create_symlink:
    command: "ln -sf /usr/bin/python3 /usr/bin/python"
    test: "[ ! -f /usr/bin/python ] && echo 'Creating symlink for Python'"

option_settings:
  aws:elasticbeanstalk:application:environment:
    LD_LIBRARY_PATH: "/usr/lib64:/usr/local/lib:$LD_LIBRARY_PATH"
    PYTHONUNBUFFERED: "1"
